.question-panel {
    background-color: #C8D0D5;
    width: 100%;
    height: calc(100vh - 57px);
    overflow-y: auto;
}

.question-qa-panel {
    padding-left: 2%;
}

.question-panel-buttons-panel {
    padding-right: 1%;
    background-color: #e7b472;
    text-align: right;
    width: calc(100vw - 20%); /* 20% is taken by question-numbers */
    position: absolute;
    bottom: 0px;
}

.question-panel-buttons button {
	margin: 5px;
}

.block-icon {
    cursor: not-allowed;
}